vn
.DS_Store
.svn/*
*.swp
.metadata/*
.metadata
*.sql~
*.tmp
tags
!*memcached*
.tags*
*bower_components*
*node_modules*
#vim
*.un~
*.swp*
#python
*.pyc
*test*
*.buildpath*
*.project*
/nbproject/private/
.idea
**/logs/
*/www/debug/
*.log
.idea/*
